webroot/static/schema/v2.0/rioxxterms/rioxxterms.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.rioxx.net/schema/v2.0/rioxxterms/"
  xmlns:rioxxterms="http://www.rioxx.net/schema/v2.0/rioxxterms/"
  xmlns:dcterms="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  <xs:annotation>
    <xs:documentation xml:lang="en"><![CDATA[
Schema for the RIOXX Terms used within the RIOXX Application Profile, version 2.0

Created 2015-01-21

Created by

Paul Walk (p.walk@ed.ac.uk)
Ian Stuart (ian.stuart@ed.ac.uk)

Terminology

'the resource' refers to the electronic copy of a publication held in a 
repository, and is that which is being described by the RIOXX metadata record.

'version of record' refers to the version of the publication being described
in the RIOXX metadata record which has been made available, electronically, by the publisher.

The terms MUST, MUST NOT, REQUIRED, SHALL, SHALL NOT, SHOULD,
SHOULD NOT, RECOMMENDED, MAY, and OPTIONAL used in the descriptions
below should be interpreted as described in RFC 2119 (http://www.ietf.org/rfc/rfc2119.txt).

Note that its cast into XSD 1.1 as XSD 1.0 has a restriction that limits all elements in 
an 'all' grouping to have a maxOccurs of zero or one.

Location: The xsd file is located at http://www.rioxx.net/schema/v2.0/rioxx/rioxxterms.xsd

]]>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[
The author of the resource may be a person, organisation or service, but is most commonly a 
person. This element SHOULD take an optional attribute called 'id', which MUST contain an 
HTTP URI which uniquely identifies the author. Where there is more than one author,
a separate 'rioxxterms:author' element MUST be used for each. As many authors may be 
entered as required. The ideal use of this element is to include both an HTTP URI in the id 
attribute, and a text string in the body of the element, thus:

    <rioxxterms:author id="identifier-for-this-author-entity">
        name-of-this-author-entity
    </rioxxterms:author>
    
Where the author is a person, the RECOMMENDED format is to add text in the form Last Name, 
First Name(s), and to include an ORCID (http://orcid.org) ID, if known, in its HTTP URI form, e.g.

    <rioxxterms:author id="http://orcid.org/0000-0002-1395-3092">
        Lawson, Gerald
    </rioxxterms:author>
    
Where the author is an organisation, the RECOMMENDED format is to add the official name of
the organisation, and to include an ISNI (http://isni.org) ID, if known, in its HTTP URI form, e.g.

    <rioxxterms:author id="http://isni.org/isni/0000000419367988">
        University of Edinburgh
    </rioxxterms:author>
    
Where the _rioxxterms:author_ element appears multiple times for one record, it CAN be assumed
that the order is significant, in that the first element describes the 'first named author' of
the resource. In order to make this more explicit, an extra attribute, _first-named-author_,
SHOULD be used to indicate which of the _rioxxterms:author_ elements describes the first named
author of the resource, thus:

    <rioxxterms:author id="http://orcid.org/0000-0002-1395-3092" first-named-author="true">
        Lawson, Gerald
    </rioxxterms:author>
]]>
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="rioxxterms:id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="contributor">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[ 
This field is designed to describe an entity – for example the name of a person, 
organisation or service – responsible for making contributions to the content of the 
resource. As many _rioxxterms:contributor_ elements may be entered as required. 
This element SHOULD take an optional attribute called _id_, which MUST hold an HTTP URI
which uniquely identifies the contributor. The ideal use of this element
is to include both an HTTP URI in the id attribute, and a text string in the body of
the element, thus:

    <rioxxterms:contributor id="identifier-for-this-contributor-entity">
        name-of-this-contributor-entity
    </rioxxterms:contributor>
    
Where the contributor is a person, the RECOMMENDED format is to add text in the form Last Name, 
First Name(s), and to include an [ORCID](http://orcid.org) ID, if known, in its HTTP URI form, e.g.

    <rioxxterms:contributor id="http://orcid.org/0000-0002-1395-3092">
        Lawson, Gerald
    </rioxxterms:contributor>
    
Where the contributor is an organisation, the RECOMMENDED format is to add the official name of
the organisation, and to include an [ISNI](http://isni.org) ID, if known, in its HTTP URI form, e.g.

    <rioxxterms:contributor id="http://isni.org/isni/0000000419367988">
        University of Edinburgh
    </rioxxterms:contributor>
]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="rioxxterms:id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="apc" default="unknown" type="rioxxterms:apcList">
    <xs:annotation>
      <xs:documentation xml:lang="en">
This element expresses whether or not the resource has an associated 'article processing
charge'. The value of this element is taken from a controlled list.
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="project">
    <xs:annotation>
      <xs:documentation><![CDATA[ 
This is designed to collect the project ID(s), issued by the funder(s), that relate to the 
resource, together with the name and/or global identifier for the funder(s).

The element MUST contain one project ID, an alphanumeric identifier provided by the funder 
in its original format. In cases where the resource has been funded internally, an appropriate 
internal code might be used.

The element takes two attributes, 'funder_name' and 'funder_id'. One
or both of 'funder_name' and 'funder_id' MUST be supplied.

funder_name



funder_id



Example

    <rioxxterms:project
        funder_name="Engineering and Physical Sciences Research Council"
        funder_id="http://isni.org/isni/0000000403948681"
        >
      EP/K023195/1
    </rioxxterms:project>
    
or

    <rioxxterms:project
        funder_name="Engineering and Physical Sciences Research Council"
        funder_id="http://doi.org/10.13039/501100000266"
        >
      EP/K023195/1
    </rioxxterms:project>
    
Where the resource has been funded by more than one funder a separate 
'rioxxterms:project' element MUST be added for each. Similarly, where several project
IDs provided by the same funder have been attached to the resource, a separate 
'rioxxterms:project' element MUST be added for each.

This means that it is quite normal for a given 'funder_name', 'funder_id' or 'project_id' to appear 
in multiple instances of the 'rioxxterms:project' element in a single RIOXX metadata 
record.
]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute ref="rioxxterms:funder_name"/>
      <xs:attribute ref="rioxxterms:funder_id"/>
      <xs:assert test="(@rioxxterms:funder_name or @rioxxterms:finder_id)"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="version" type="rioxxterms:versionList">
    <xs:annotation>
      <xs:documentation xml:lang="en"> 
This element indicates which 'version' of the resource is being described. The value is from a
controlled list
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="version-of-record" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[
This field MUST contain an HTTP URI which is a persistent identifier for the published version of
the resource. If a DOI has been issued by the publisher then this MUST be used. Such a DOI
MUST be represented in its HTTP form, for example:

    <rioxxterms:version-of-record>
        http://doi.org/10.1006/jmbi.1995.0238
    </rioxxterms:version-of-record>
]]>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="publication_date">
    <xs:annotation>
      <xs:documentation><![CDATA[
This element takes the publication date of the resource in the form in which it would be cited. This 
element is not used in a RIOXX context but allows for a RIOXX record to become a reasonable bibliographic 
record for the resource. This is a free-text field.

Examples

    <rioxxterms:publication_date>
      2011-02-23
    </rioxxterms:publication_date>
      
    <rioxxterms:publication_date>
      Spring, 2010
    </rioxxterms:publication_date></pre>
    
As RIOXX is primarily concerned with such issues as compliance with funders’ mandates and licensing of 
open access publications, the critical dates for the assertion of compliance are those held in the 'start_date' 
attributes of the 'ali:license_ref' elements.
]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="type" type="rioxxterms:typeList">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[
Type refers to the ‘type’ - the nature or genre of the content of the resource. The value is taken
from a Controlled List

Take care not to confuse this with 'dc:format'.
]]>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="apcList">
    <xs:annotation>
      <xs:documentation xml:lang="en">A Controlled List</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="paid"/>
      <xs:enumeration value="partially waived"/>
      <xs:enumeration value="fully waived"/>
      <xs:enumeration value="not charged"/>
      <xs:enumeration value="not required"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="versionList">
    <xs:annotation>
      <xs:documentation xml:lang="en">A Controlled List</xs:documentation>
      <xs:documentation xml:lang="en"><![CDATA[ 
The value is from a controlled list whose terms are adopted from the Journal Article
Versions (JAV): Recommendations of the NISO/ALPSP JAV Technical Working Group
(http://www.niso.org/publications/rp/RP-8-2008.pdf) and have the following meanings:

* AO = Author's Original
* SMUR = Submitted Manuscript Under Review
* AM = Accepted Manuscript
* P = Proof
* VoR = Version of Record
* CVoR = Corrected Version of Record
* EVoR = Enhanced Version of Record
* NA = Not Applicable (or Unknown)
]]></xs:documentation>

    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AO"/>
      <xs:enumeration value="SMUR"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="P"/>
      <xs:enumeration value="VoR"/>
      <xs:enumeration value="CVoR"/>
      <xs:enumeration value="EVoR"/>
      <xs:enumeration value="NA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeList">
    <xs:annotation>
      <xs:documentation xml:lang="en">A Controlled List</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Book"/>
      <xs:enumeration value="Book chapter"/>
      <xs:enumeration value="Book edited"/>
      <xs:enumeration value="Conference Paper/Proceeding/Abstract"/>
      <xs:enumeration value="Journal Article/Review"/>
      <xs:enumeration value="Manual/Guide"/>
      <xs:enumeration value="Monograph"/>
      <xs:enumeration value="Policy briefing report"/>
      <xs:enumeration value="Technical Report"/>
      <xs:enumeration value="Technical Standard"/>
      <xs:enumeration value="Thesis"/>
      <xs:enumeration value="Consultancy Report"/>
      <xs:enumeration value="Working paper"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="id" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[ 
This attribute, if used, MUST hold an HTTP URI which uniquely identifies the entity its attached to.
    
Where the entity is a person, the id should be an ORCID (http://orcid.org) ID:

    <rioxxterms:author id="http://orcid.org/0000-0002-1395-3092">
        Lawson, Gerald
    </rioxxterms:author>
    
Where the entity is an organisation, the id should be an ISNI (http://isni.org) ID:

   <rioxxterms:contributor id="http://isni.org/isni/0000000419367988">
        University of Edinburgh
    </rioxxterms:contributor>
]]></xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="funder_id" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation xml:lang="en"><![CDATA[ 
This SHOULD be a globally unique identifier for the funder of the resource.
An HTTP URI MUST be used for this. It is RECOMMENDED that one of the following identifier schemes is used:

* an ISNI (http://isni.org) ID
* a DOI (in its HTTP URI form) made available by FundRef (http://www.crossref.org/fundref/)
]]></xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="funder_name">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The canonical name of the entity responsible for funding the resource SHOULD be recorded here as text.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
</xs:schema>
